<!-- <textarea row="6" [(ngModel)]="enteredValue" #postInput></textarea>
<hr/>
<button (click)="onAddPost(postInput)">Save Post</button>

<p>{{newPost}}</p> -->


<mat-card>
<form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
        <input matInput type="text" ngModel name="title" required #title="ngModel" />
        <mat-error *ngIf="title.invalid"> Please enter a post title</mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput row="6" ngModel name="content" required #content="ngModel"></textarea>
        <mat-error *ngIf="content.invalid"> Please enter a post content</mat-error>
      </mat-form-field>
      <button type="submit" color="accent" mat-raised-button>Save Post</button>
</form>

</mat-card>
